<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./logosinbg.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <title>EME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <header>
        <div className='holder'>
            <img src="img/logosinbg.png" width="100" alt="EME" />
        </div>
    </header>
    <nav className='holder'>
        <div>
            <ul>
                <li>
                    <NavLink to="/" class="activo">Inicio</NavLink>
                </li>
                <li>
                    <NavLink to="/nosotros" class="activo">Nosotros</NavLink>
                </li>
                <li>
                    <NavLink to="/servicios" class="activo">Servicios</NavLink>
                </li>
                <li>
                    <NavLink to="/clientes" class="activo">Clientes</NavLink>
                </li>
                <li>
                    <NavLink to="/contacto" class="activo">Contacto</NavLink>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}
    <footer>
        <p>Derechos reservados &copy;. EME - Estudio Contable</p>
    </footer>
</body>

</html>