.contacto {
    display: flex;
    justify-content: center;
    margin-left: 160px;
    /* gap: 24px; */
}

.contacto h2{
    text-align: center;
    margin-left: 80px;
}

.formulario p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.formulario p input,
.formulario p textarea {
    width: 140%;
    background: #e7e5e5d8;
    border: 1px solid #D9D9D9;
    padding: 6px 10px;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    height: 100px;
}

.formulario input[type="submit"] {
    background: #B6251E;
    color: white;
    font-size: 16xp;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 135px;
    cursor: pointer;
}