<div class="holder">
    <div>
        <h1 class="text-left">BIENVENID@ {{persona}}!</h1>
        <h4 style="font-weight: 300;">Ésta es la página de administración. Desde aquí va a poder realizar el alta de un nuevo cliente, 
            modificar los datos si necesita o bien eliminarlo.</h4>
    </div>
    <div class="row">
        <div class="col">
                  <p class="text-end"><a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>  
        </div>
    </div>
</div>